body{
    background-color: honeydew;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 100%;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

#envoltura{
    width: 300px;
    height: 300px;
    perspective: 700px;
    margin: 100px auto;
}

.cubo{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style:preserve-3d;
    transform: rotateY(35deg) rotateX(-38deg);
    transition: 300ms ease-in;
}

@keyframes rotate {
    from {
        transform: rotateY(180deg) rotateX(45deg);
    }
    to {
        transform: rotateY(540deg) rotateX(405deg);
    }
}
.cubo:hover{
    /* transform: rotateY(125deg) rotateX(155deg); */
    animation: rotate 4s linear infinite;
}

.cubo div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: gray;
}

.cubo div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(75px);
    background-color: darkblue;
    color: white;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cubo div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(180deg) translateZ(75px);
    background-color: darkcyan;
    color: white;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cubo div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(-90deg) translateZ(75px);
    background-color: darkred;
    color: white;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cubo div:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(90deg) translateZ(75px);
    background-color: darkorange;
    color: white;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cubo div:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(90deg) translateZ(75px);
    background-color: darkmagenta;
    color: white;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cubo div:nth-child(6){
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-90deg) translateZ(75px);
    background-color: darkturquoise;
    color: white;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}