body{
    background-color: darkslateblue;
}

.title{
    display: flex;
    width: 100vw;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 16px;
    margin: 4px;
    border: 1px solid darkslateblue;
    border-radius: 4px 4px 2px 2px;
    background: linear-gradient(orange, gold);
    transition: all .2s ease;
}
.button:hover{
    background: linear-gradient(180deg, red, orangered);
    color: gold;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    border: 1px solid gold;
}
.button:active{
    color: darkslateblue;
    font-weight: bolder;
}