.title{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 100%;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

.anima_div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

#animacion_1{
    height: 250px;
    width: 250px;
    margin: 4px auto;
    background-color: red;
    animation-name: anima-1;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
}
@keyframes anima-1{
    0%{
        transform: scale(.3);
        border-radius: 50px;
    }
}

#animacion_2{
    height: 250px;
    width: 250px;
    margin: 4px auto;
    background-color: red;
    animation-name: anima-2;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anima-2{
    0%{
        transform: scale(.3);
        border-radius: 100%;
    }
    50%{
        background-color: orange;
    }
}

#animacion_3{
    height: 250px;
    width: 250px;
    margin: 4px auto;
    background-color: red;
    animation-name: anima-3;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
#animacion_3:hover{
    animation-play-state: paused;
}
@keyframes anima-3{
    0%{
        transform: scale(.3);
        border-radius: 100%;
        background-color: yellow;
    }
    50%{
        background-color: orange;
    }
    100%{
        transform: scale(1);
    }
}
