.title{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 100%;
    text-align: center;
}
.subtitle{
    font-size: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

#sample_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    background: coral;
    border-radius: 50%;
    transition: all 2s;
}
#sample_1:hover{
    border-radius: 5px;
    background-color: yellow;
}

#sample_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    background: cornflowerblue;
    transition: all 1s;
    transition-timing-function: ease;
}
#sample_2:hover{
    width: 450px;
    border-radius: 10px;
}

#sample_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    background: goldenrod;
    transition: all 1s;
    transition-timing-function: ease-in;
}
#sample_3:hover{
    width: 450px;
    border-radius: 10px;
}

#sample_4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    background: crimson;
    transition: all 1s;
    transition-timing-function: ease-out;
}
#sample_4:hover{
    width: 450px;
    border-radius: 10px;
}

#sample_5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    background: purple;
    transition: all 1s;
    transition-timing-function: ease-in-out;
}
#sample_5:hover{
    width: 450px;
    border-radius: 10px;
}

#sample_6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    background: orangered;
    transition: all 1s;
    transition-timing-function: linear;
}
#sample_6:hover{
    width: 450px;
    border-radius: 10px;
}

#sample_7{
    margin: 5px;
    background: orange;
    width: 150px;
    height: 150px;
    animation: mover-derecha-alt-1 2s ease-in infinite;
    animation-delay: 1000ms;
}
@keyframes mover-derecha-alt-1{
    0%{ transform: translateX(0px);}
    100%{ transform: translateX(300px);}
}

#sample_8{
    margin: 5px;
    background: orange;
    width: 150px;
    height: 150px;
    animation: mover-derecha-alt-2 2s ease-in-out infinite;
    animation-delay: 1000ms;
}
@keyframes mover-derecha-alt-2{
    0%{transform: translateX(0px);}
    100%{
        transform: translateX(300px);
        border-radius: 50%;
        background: linear-gradient(120deg, orange 0%, red 100% );
    }
}

#sample_9{
    margin: 5px;
    background: orange;
    width: 150px;
    height: 150px;
    animation: mover-derecha-alt-3 5s ease-in-out infinite;
    animation-delay: 1000ms;
}
@keyframes mover-derecha-alt-3{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(200px);
        border-radius: 10px;
        background: linear-gradient(120deg, red 0%, darkred 100% );
    }
}

#sample_10{
    margin: 5px;
    background: pink;
    width: 150px;
    height: 150px;
    animation: mover-derecha-alt-4 5s ease-in-out infinite;
    animation-delay: 1000ms;
}
@keyframes mover-derecha-alt-4{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(200px);
        border-radius: 10px;
        background: linear-gradient(120deg, yellow 0%, goldenrod 100% );
    }
    50%{
        transform: translateY(200px) translateX(200px);
        border-radius: 50px;
        background: linear-gradient(120deg, orange 0%, orangered 100% );
    }
    75%{
        transform: translateX(0px) translateY(200px);
        border-radius: 200px;
        background: linear-gradient(120deg, yellowgreen 0%, green 100% );
    }
}